* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	font-size: 1em;
}

@font-face {
    font-family: 'soviet-league';
    src: url('./fonts/soviet-league/sovietleague-webfont.woff2') format('woff2'),
         url('./fonts/soviet-league/sovietleague-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
    --main-dark-color: #094067;
    --main-theme: #d8eefe;
    --light-theme: #fffffe;
    --highlight: #3da9fc;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100vw;
    height: 100vh;
    color: var(--main-dark-color);
    font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
    border-style: none;
}

aside {
    background-color: var(--light-theme);
    display: grid;
    grid-template-rows: 2fr 1fr 4fr;
    justify-items: center;
    justify-self: center;
    padding-bottom: 30px;
}

main {
    background-color: var(--main-theme);
}

#userpic {
    align-self: center;
}

#userpic img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 5px solid var(--main-dark-color);
}

#full-name {
    font-family: 'soviet-league', sans-serif;
    font-size: 3em;
    letter-spacing: 0.05em;
    align-self: center;
}

#social-networks {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
}

.social-btn {
    background-color: var(--main-dark-color);
    color: var(--light-theme);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.social-link {
    color: inherit;
}

.social-btn:hover {
    background-color: var(--main-theme);
    color: var(--main-dark-color);
    border: 2px solid var(--main-dark-color);
}

.social-btn:active {
    transform: scale(0.9);
}

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--main-dark-color);
    min-width: 100px; 
    top: 50%;
    left: 100%;
    margin-left: 20px;
    padding: 10px;
    color: var(--light-theme);
    letter-spacing: 0.1em;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    z-index: 100;
    transform: translate(0, -50%);
}

.social-btn:hover .tooltip {
    display: block;
}

.main-section {
    position: relative;
    padding-top: 50px;
}

.main-section-heading {
    background-color: var(--light-theme);
    border-radius: 4px;
    font-size: 2em;
    letter-spacing: 0.1em;
    font-family: 'soviet-league', sans-serif;
    margin-left: 50px;
    max-width: 150px;
    padding: 10px 15px;
    top: 20%;
    left: 0;
    position: absolute;
}

.main-section-content {
    background-color: var(--light-theme);
    margin: 25px 50px 0 50px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    padding: 10px;
}